* {
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #ccc;
  background-image: url("https://github.com/Diplodocee/css-layout2/blob/gh-pages/4195639928_60674b45fc.jpg?raw=true");
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

.heading {
  background-color: #999;
  background-image: url("https://lh3.googleusercontent.com/eV2cl0T1wYt6zZr_TXTvAPgIpoSh4AaowGmIq62qMurRg6SVZMt9x5kl78WUqcFW3rn_wdSA0lLrT3QP_IgXUtG-oJxdnAIaVUXcz2-kF8TbhWH9tNUBWSrN-GPfj0jDfo3NQlN72XSdSbTt_3d8G3lKoE2YLrDcAaLv30KF-zAlN7_nc7WDJAATdmtaDfzPpb0n4pnrTy3PwsAbIK7PTo5HojWEPVgkzItNNNZaDjupH2Fm5a9bHMGrAWVmqtyIPh8Aye2Yxu9A0OmTBsE9Q5Ohv_PyEBB43SmSrQJQKC8R21SPaNooYGhmaywICdVqJXDq_0mehMYs-3ygtFyvfQHbCvvHoxrsbQ4lVZ3N0IT-SfWdK9_ud2BosklA8YEI1T4shqKaOHaVNoAKE1S8OiWrqTkOTJM8J523buTg4kU_V9hJeQjTJAznGx908sWFh2LHV0uEkkUhAaJSFip7EPkGab2lH1lWHV_hWQ--sPPV8Xdwzs5xNyUEHsznKGRYfsRSbZYsac0uJ7F15DE4m2c7dBd3PBbDmNPQq8O6yKDyabVoE86Z2hsVAtMAWktDGjA3=w1347-h446-no");
}

h1 small {
  color: #333;
  font-size: .6em;
}

.box {
  background-color: #eee;
}

.box a.read-more {
  text-decoration: underline;
}

.footer {
  background-color: #999;
  color: #fff;
  font-style: italic;
}
